@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* CSS Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}
  
li {
    list-style: none;
}
  
input,
button {
    border: 1px solid #000;
    font: inherit;
}
/* image defaults */
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* body defaults */
body {
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* CONTENTS */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    grid-template-areas: 
      'side header'
      'side main'
    ;
}

/* HEADER AREA */
/* HEADER AREA -- top */
header {
    grid-area: header;
    display: grid;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3em;
    padding: 1em;
}

.search {
    display: flex;
    align-items: center;
    max-width: 600px;
}

.search input {
    flex: 1;
    margin-left: 0.8em;
    border-radius: 2em;
}

.profile {
    display: flex;
    justify-content: end;
  
    align-items: center;
}

.profile > * {
    margin-right: 10px;
}
  
.profile > img {
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ff006e;
    width: 50px;
}
  
.profile > p {
    font-weight: 500;
}

/* HEADER AREA -- bottom */
.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 1em;
}

.bottom img {
    border-radius: 50%;
    height: 70px;
}

.user {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.actions ul {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.actions ul > li {
    font-size: 0.85rem;
    margin-left: 1rem;
    background-color: #3a86ff;
    padding: 0.5em 1em;
    border-radius: 2em;
    color: white;
}